// dactyl_cc_left.overlay

#include "dactyl_cc.dtsi" // Notice that the main dtsi files are included in the overlay.

kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";

        col-gpios = <
            &gpio1 11 GPIO_ACTIVE_LOW
            &gpio1 13 GPIO_ACTIVE_LOW
            &gpio1 15 GPIO_ACTIVE_LOW
            &gpio0  2 GPIO_ACTIVE_LOW
            &gpio0 29 GPIO_ACTIVE_LOW
            &gpio0 31 GPIO_ACTIVE_LOW
        >;

        diode-direction     = COL2ROW;
        debounce-press-ms   = <1>;
        debounce-release-ms = <5>;
    };
